.tabs {
  margin: 1.5em 0;

  ul {
    display: block;
    padding-left: 0;
    border-bottom: 1px solid $light-gray;

    li {
      display: inline-block;

      a {
        border-top: 1px solid #dcdcdc;
        background-color: #fff;
        color: #333;
        text-decoration: none;
        padding: 0.75em 1.618em;
        margin: 0;

        &.is-active {
          //background-color: #fff;
        }
      }
    }
  }
}
